<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todos los Jugadores</title>
    <link rel="stylesheet" th:href="@{/css/equipos.css}">
</head>
<body>
	
	<h3>API CREADA POR Javier Martínez Pérez</h3>

		<a href="https://www.linkedin.com/in/javier-mart%C3%ADnez-p%C3%A9rez-7843451a4/" target="_blank">
		    Mi LinkedIn
		</a>

		<br><br>

		<a href="https://github.com/JaviMP-03" target="_blank">
		    Mi GitHub
		</a>
		
	<div class="boton-agregar-container">
	    <a th:href="@{/equiposGUI}" class="btn-agregar">
	        Volver a equipos
	    </a>
	</div>
<h1>Todos los Jugadores</h1>

<div class="boton-agregar-container">
    <a th:href="@{/jugadoresGUI/nuevo(pagina='todos')}" class="btn-agregar">Añadir Jugador</a>
</div>

<div class="tabla-container">
<table>
<thead>
<tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Fecha Nacimiento</th>
    <th>Edad</th>
    <th>Dorsal</th>
    <th>Salario</th>
    <th>Posición</th>
    <th>Equipo</th>
    <th>Acciones</th>
</tr>
</thead>
<tbody>
<tr th:each="jugador : ${jugadores}">
    <td th:text="${jugador.id}"></td>
    <td th:text="${jugador.nombre}"></td>
    <td th:text="${jugador.fechaNacimiento}"></td>
    <td th:text="${jugador.edad}"></td>
    <td th:text="${jugador.dorsal}"></td>
    <td th:text="${jugador.salario}"></td>
    <td th:text="${jugador.posicion}"></td>
    <td th:text="${jugador.equipo.nombre}"></td>
    <td>
        <a th:href="@{/jugadoresGUI/editar/{id}(id=${jugador.id}, pagina='todos')}" class="btn-editar">Editar</a>
        <a th:href="@{/jugadoresGUI/eliminar/{id}(id=${jugador.id}, pagina='todos')}"
           onclick="return confirm('¿Seguro que quieres eliminar este jugador?')"
           class="btn-eliminar">Eliminar</a>
    </td>
</tr>
</tbody>
</table>
</div>

</body>
</html>
	