<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario Equipo</title>
	<link rel="stylesheet" th:href="@{/css/estilosEditar.css}">
</head>
<body>
	
	<a class="volver-link" th:href="@{/equiposGUI}">Volver</a>


<form th:action="@{/equiposGUI/guardar}" th:object="${equipo}" method="post">

    <input type="hidden" th:field="*{id}" />

    <label>Nombre:</label>
    <input type="text" th:field="*{nombre}" required />
    <br><br>

    <label>Fecha Fundación:</label>
    <input type="date" th:field="*{fechaFundacion}" required />
    <br><br>

    <label>Estadio:</label>
    <input type="text" th:field="*{nombreEstadio}" required />
    <br><br>

    <label>Capacidad:</label>
    <input type="number" th:field="*{capacidad}" min="0" />
    <br><br>

    <label>Entrenador:</label>
    <input type="text" th:field="*{nombreEntrenador}" required />
    <br><br>

    <button type="submit">Guardar</button>
    <a th:href="@{/equiposGUI}">Cancelar</a>

</form>

</body>
</html>
